form {
  border: 2px solid black;
  padding: 15px;
}

label {
  font-weight: 900;
  float: left;
  width: 150px;
}
.container-button {
  text-align: center;
}
.send {
  background-color: blue;
  height: 40px;
  border-radius: 35px;
  color: white;
  border: none;
  width: 100px;
  font-size: 16px;
}